# Python
.env/
__pycache__/
dist/
uniteai.egg-info/


# Config
.uniteai.yml
.uniteai.yaml


# VSCode
.vscode/
node_modules/


# Misc
test.md
test.txt
*.log
debug_transcription.wav
t12_outputs
download_cache/
embedding_cache/
db.sqlite3
*.calltree
*.pstats