##########
# LSP
lsp_port: 5033  # editor connects to LSP via this port
modules:
  - uniteai.local_llm
  - uniteai.transcription
  - uniteai.openai
  - uniteai.contrib.example


##########
# Example: `uniteai.contrib.example`
#
# a feature that counts up

start_digit: 13
end_digit: 42
delay: 0.4


##########
# Local LLM: `uniteai.local_llm`

model_path: '/home/me/path/to/falcon-7b-instruct/'
model_commit: 'Unfortunately, Transformers doesnt actually dbl check this, but should.'
local_max_length: 1000
top_k: 10
llm_port: 8000  # LSP connects to LLM server via this port
llm_uri: 'http://localhost:8000'


##########
# Transcription: `uniteai.transcription`

transcription_volume_threshold: 100  # see `speech_recognition` docs for energy threshold

# Vosk
#
# Download from: https://alphacephei.com/vosk/models
transcription_model_type: 'vosk'
transcription_model_path: '/home/path/to/vosk-model-en-us-0.22-lgraph'

# Whisper
#
# transcription_model: 'whisper'
# transcription_model_size: 'base'  # tiny, base, small, medium, large-v2
# transcription_model_path: '/home/path/to/whisper-base'


##########
#  OpenAI: `uniteai.openai`
openai_api_key: sk-...
openai_completion_engine: 'text-davinci-002'
openai_chat_engine: 'gpt-3.5-turbo'
openai_max_length: 1000
