# LSP Server
pygls==1.0.2
Thespian


# Local LLM
accelerate==0.20.3
bitsandbytes==0.39.0
einops==0.6.1
fastapi==0.96.0
scipy==1.10.1
transformers==4.30.0
uvicorn==0.22.0
llama-cpp-python=0.2.20

sentencepiece  # needed by T5

# openai
openai==0.27.8


# transcription
PyAudio
SpeechRecognition
openai-whisper
soundfile


# document_chat
GitPython==3.1         # downloading repos
nbformat               # ipynb files
youtube-transcript-api # yt transcripts
InstructorEmbedding    # sentence embeddings
sentence-transformers  # sentence embeddings
pypdf
beautifulsoup4
PyYAML
pandas
requests
